:root {
	--color-primary: #1D49A7;
	--color-secondary: #F2D25F;
	--color-tertiary: #CD2F23;
	--bg: var(--color-secondary);
	--text: var(--color-primary);
	--font-heading: 'Arial, sans-serif';
	--font-body: 'Arial, sans-serif';
	--content-width: 1040px;
	--content-padding: 1rem;
	--color-hr: var(--color-primary);
	--inner-flex-direction: column;
	--inner-flex-wrap: nowrap;
	--inner-flex-align: center;
	--inner-flex-justify: center;
	--inner-gap: 2rem;
}

body {
	margin: 0;
	padding: 0;
	color: var(--text);
	box-sizing: border-box;
	font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	margin-bottom: 1.2em;
	line-height: 1.2;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p {
	margin: 0;
	padding: 0;
	margin-bottom: 1.5em;
	line-height: 1.5;
}

img {
	max-width: 100%;
	height: auto;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem var(--content-padding);
}

.inner {
	display: flex;
	max-width: 100%;
	width: var(--content-width);
	flex-direction: var(--inner-flex-direction);
	flex-wrap: var(--inner-flex-wrap);
	align-items: var(--inner-flex-align);
	justify-content: var(--inner-flex-justify);
	gap: var(--inner-gap);
}
